{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylescuenta.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'logo_icon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="cuenta-page">

    <div class="container">
        <h1 class="col-xs-12 text-center mt-3 col-md-12 text-center mt-3  col-lg-12 text-center mt-3">Cuenta</h1>
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-xs-12 my-1 text-center col-md-auto col-lg-auto">
                <a class="btn btn-primary" id="irAConfiguracionesBtn" href="/configuracion.html">Ir a
                    Configuraciones</a>
            </div>
            <div class="col-xs-12 my-1 text-center col-md-auto col-lg-auto">
                <img src="{% static 'logo.jpg' %}" alt="Logo de AnimAI" class="logo rounded-circle"
                    style="width: 200px; height: 200px;">
            </div>
            <div class="col-xs-12 my-1 text-center col-md-auto col-lg-auto">
                <a class="btn btn-danger" id="cerrarSesionBtn" href="/index.html">Cerrar Sesión</a>
            </div>
        </div>
        <h2 class="text-center">Perfil</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label"> Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div>
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono">
                    </div>
                    <button type="button" class="btn btn-primary" id="editarBtn">Editar</button>
                    <button type="button" class="btn btn-success" id="guardarBtn" style="display: none;">Guardar
                        Cambios</button>
                </form>
            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 m-3">
        <button type="button" class="btn btn-primary" id="toggleModeBtn" data-bs-toggle="tooltip"
            data-bs-placement="left" title="Cambiar Modo">
            <img id="modoIcono" src="{% static 'boton_luna.png' %}" alt="Botón de cambio de modo">
        </button>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="{% static 'scriptcuenta.js' %}"></script>

</body>

</html>